html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto Mono;
  margin-top: 30px;
  min-width: 300px; /* 100px x3 = 300 */
  background-color: #FBFAF9
}

* {
  box-sizing: border-box;
}


main {
  margin-top: -10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.content {
  text-align: left;
  max-width: 1450px; 

  
  
  
}

.joke {
  background-color: #dccfbc;

}
.small_joke {
  font-size: 9px;
}


a {
  
  color: #9A6DF8;
  text-decoration: none;

}


a:hover {
  filter: brightness(200%);
  
  text-decoration: none;
}

a:visited {
  color: #9A6DF8;
}

h1 {
  font-size: calc(1.8vw * 60%);
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

h2 {
  font-size: calc(1.8vw * 60%);
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;

}


h3, h4 {
  max-width: 1450px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: calc(1.8vw + 65%);
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 500;

}

p {
  max-width: 1450px;
  padding-left: 25px;
  padding-right: 25px;
}

p.title {
  padding-left: 0.11vw;
}





.navbar  {
  display: block;
  width:100vw;
  max-width: 1450px;
  padding: 13px 0 0px 0;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
}

.filler {
  background-color: white;
  width: 100vw;
  height: 80px;
  position:fixed;
  top: 0;
  z-index: 10;
  border-color: #dbdbdb;
  border-style: solid;
}







hr {
  box-shadow:  rgba(88, 102, 126, 0.08) 0
  2px 4px 1px, rgba(88, 102, 126, 0.12) 0px 1px 2px;;
  border:10px;
  margin-top: 21px;
  z-index: 9;
  background-color: white;
}


.buttons-box {
font-size:30px;
display: flex;
justify-content: flex-end;
color: #9a6ffd;
padding-right: 5px;
overflow: hidden; 
padding: 7px 25px 0 0;
}

div.buttons-box a {
  margin-left: 20px

}



.logo {
display: flex;
justify-content: flex-start;
float: left;
padding-left: 25px;
overflow: hidden;
}

.line {
  width:100vw;
  margin-top: -10px;
  position: fixed;
  z-index: 8;
 
}

.Footer_footer__1_BW4 {
  position: fixed;
  bottom: 0;
}

.description {
  font-size: normal;

}

@media screen and (min-width: 601px) {
  table {
    font-size: small;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  table {
    font-size: xx-small;
  }
}



 table {
  border-top:1px solid #eff2f5;
  width: 100%;
  table-layout: fixed;
  max-width: 1450px; 
  border-collapse: collapse;
}

td {
  border-top:1px solid #eff2f5;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 12.5px;

  white-space: nowrap;
  text-overflow: ellipsis;
  
 }

 tr:hover{
  background-color: #f6f6f6;
 }

 th {
  padding: 12.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
 
  
 }

 th.number, td.number {
   width: 5%;
 }

 .box{
  border-radius: 20px;
  box-shadow:  rgba(88, 102, 126, 0.08) 0px 4px 24px, rgba(88, 102, 126, 0.12) 0px 1px 2px;;
  border-width: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 906px;
  background-color: white;
  border-color: #dbdbdb;
  border-style: solid;
  padding: 0 0 0 0.9vw;
  
 }


 .graph-box{
  width: 1450px;
  border-color: #dbdbdb;
  border-style: solid;
  border-radius: 20px;
  box-shadow:  rgba(88, 102, 126, 0.08) 0px 4px 24px, rgba(88, 102, 126, 0.12) 0px 1px 2px;
  border-width: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 0 0 0.9vw;
  background-color: white;
  width: 100%;
  
 }



 .titlebox {
   padding:12px;
 }

 .icon {
    display: flex;
    justify-content: flex-start;
    float: left;
    padding-right: 2vh;
    height: 100%;
    font-size: 50px;
 }

 .title {
   display: flex;
   margin-top: 0;
 }


 .dark-header {
   background-color: #172026;
   margin-top: 30px;
   width: 100vw;
   min-height: 50vh;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;

 }

 .hero {
   font-size: calc(5vw + 150%);
   font-weight: 800;
  
 }
 .row {
   flex-direction: row;
   flex-wrap: wrap;
   text-align: center;
   width: 100%;
   
 }

 .info-box {
  width: 30%;
  height: auto;
  min-width: 300px;
  text-align: center;
  border-style:solid;
  border-width:0.001ch;
  display: inline-block;
  margin: 10px 10px 90px 10px;
  padding: 10PX;
  border-radius: 10px;
 
 }

 .row:hover{
   color: white !important;
 }

 .aqua-border {
  border-color: #46ebff;
 }
 .pink-border {
  border-color:#fe14fd ;
}
.purple-border {
  border-color:#9A6DF8;
}

a.aqua {
  border-color: #46ebff !important;
  color: white;

  
}
a.aqua:hover {
  border-color: #46ebff;
  background-color: #46ebff;

 
}

a.pink {
  border-color: #fe14fd !important;
  color: white;
}

a.pink:hover {
 background-color: #fe14fd !important;
 color: white;

}

a.purple {
  border-color: #9a6ffd !important;
  color: white;
}

a.purple:hover {
background-color: #9A6DF8;
color: #9A6DF8;

}



a.button{
  display:inline-block;
  padding:0.46em 1.6em;
  border:0.001ch solid;
  margin:0 0.2em 0.2em 0;
  border-radius:0.12em;
  Box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.15s;
  border-radius: 20px;
  }
  a.button:hover{
  text-shadow: 0 0 2em black(255,255,255,1);
  color:black;
  border-color:#FFFFFF;
  }
  @media all and (max-width:30em){
  a.button{
 
  margin:0.4em auto;
  }
}
  